@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url(19ef785020a451a0f750e1a2eb60b460.woff2) format("woff2"), url(de135c92662d8a15c63f151e564a7c05.woff) format("woff"), url(de5b543da1d4b52c9ab5454b518bb02f.ttf) format("ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px; }

input,
button {
  font-family: inherit;
  font-size: inherit; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

strong {
  font-weight: 700; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }

a {
  text-decoration: none; }

.container {
  background-color: #555555;
  display: flex;
  min-height: 100vh; }
  @media (max-width: 480px) {
    .container {
      display: block;
      height: auto; } }

.current-status,
.upcoming-meetings {
  flex-basis: 50%; }
  @media (max-width: 480px) {
    .current-status,
    .upcoming-meetings {
      padding: 16px; } }

.current-status {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 64px; }
  .current-status.open {
    background: #7fd87f; }
  .current-status.busy {
    background: #FF5722; }
  .current-status h1 {
    font-size: 120px;
    line-height: 120px; }
  @media (max-width: 768px) {
    .current-status {
      padding: 48px; }
      .current-status h1 {
        font-size: 90px; } }
  @media (max-width: 480px) {
    .current-status {
      padding: 24px; }
      .current-status h1 {
        font-size: 64px; } }

.upcoming-meetings {
  padding: 64px; }
  @media (max-width: 768px) {
    .upcoming-meetings {
      padding: 48px; } }
  @media (max-width: 480px) {
    .upcoming-meetings {
      padding: 24px; } }
  .upcoming-meetings h1 {
    margin: 0 0 24px 0; }
    @media (max-width: 480px) {
      .upcoming-meetings h1 {
        font-size: 32px; } }

.list-group-item {
  display: block;
  padding: 16px 4px;
  color: white;
  line-height: 22px;
  border-bottom: 1px solid #eee; }
  .list-group-item:hover {
    background: rgba(0, 0, 0, 0.085); }
  .list-group-item:last-child {
    border-bottom: 0; }
  
.current-time {
  margin: 32px 0 64px 0;
  color: #999;
  font-size: 30px; }
  @media (max-width: 480px) {
    .current-time {
      font-size: 22px;
      margin: 0 0 32px 0; } }

.primary-cta {
  position: fixed;
  right: 48px;
  bottom: 48px;
  background: #1976d3;
  border-radius: 4px;
  color: #ffffff;
  font-size: 36px;
  line-height: 48px;
  height: 48px;
  width: 48px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 480px) {
    .primary-cta {
      right: 32px;
      bottom: 32px; } }

.empty {
  margin: 64px 0;
  text-align: center; }
  .empty img {
    display: block;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 32px auto;
    opacity: 0.75; }
  .empty h3 {
    font-size: 20px;
    line-height: 28px;
    opacity: 0.33;
    font-weight: 400; }
  @media (max-width: 480px) {
    .empty {
      margin: 32px 0; } }

.loading {
  margin: 128px 0;
  text-align: center; }

/*# sourceMappingURL=style.css.map*/