@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px; 
}

table {
    border-collapse: collapse;
}

.sunday {
    border-bottom: 2px solid #aaaaaa;
}

.tabcell {
    padding: 5px;
}

.booked {
    font-weight: 800;
    color: white;
}

.unavailable {
    color: #ff6060;
}

.yes {
  color: #60ff60;
}

.no {
  color: #ff6060;
}

a {
  text-decoration: none; 
}

h1 {
  display: block;
  color: #aaaaaa;
}

.container {
  background-color: #555555;
  display: block;
  min-height: 100vh;
  color: #aaaaaa; 
}

.auth-name {
  height: 50px;
  padding-top: 32px;
  padding-left: 32px;
  display: inline-block;
  position: absolute;
  top: -16px;
}

.auth-photo {
  height: 50px;
  display: inline;
}

.auth-buttons {
  display: inline-block;
}

.auth-button {
  display: inline-block;
}

.upcoming-meetings {
  display: block;
  padding: 8px;
}

.current-time {
  display: block;
  padding-left: 32 px;
}

.empty {
  margin: 64px 0;
  text-align: center; }
  .empty img {
    display: block;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 32px auto;
    opacity: 0.75; }
  .empty h3 {
    font-size: 20px;
    line-height: 28px;
    opacity: 0.33;
    font-weight: 400; 
}

.loading {
  margin: 128px 0;
  text-align: center; 
}

/*# sourceMappingURL=style.css.map*/